In [2]:
import pandas as pd

In [3]:
with open('quotes.json','r') as f:
    stream = f.read()
    df = pd.read_json(stream)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48391 entries, 0 to 48390
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Quote       48391 non-null  object
 1   Author      48391 non-null  object
 2   Tags        48391 non-null  object
 3   Popularity  48391 non-null  float64
 4   Category    48391 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.8+ MB

In [5]:
df = df[df.Popularity > df.Popularity.mean()].drop_duplicates(subset=['Quote'])

In [6]:
df.head()

,Quote,Author,Tags,Popularity,Category
0,"Don't cry because it's over, smile because it ...",Dr. Seuss,"[attributed-no-source, cry, crying, experience...",0.155666,life
2,"I'm selfish, impatient and a little insecure. ...",Marilyn Monroe,"[attributed-no-source, best, life, love, mista...",0.129122,love
5,Be yourself; everyone else is already taken.,Oscar Wilde,"[attributed-no-source, be-yourself, honesty, i...",0.113223,inspiration
6,Two things are infinite: the universe and huma...,Albert Einstein,"[attributed-no-source, human-nature, humor, in...",0.103127,humor
9,"Be who you are and say what you feel, because ...",Bernard M. Baruch,"[ataraxy, be-yourself, confidence, fitting-in,...",0.101890,

In [7]:
df.Author = df.Author.apply(lambda x: x.split(',')[0])
df.Author.value_counts()

Author
Cassandra Clare         118
J.K. Rowling             92
Oscar Wilde              91
John Green               82
Mark Twain               65
                       ...
Josh Peck                 1
Meir Kahane               1
Richard Le Gallienne      1
Murray Bartlett           1
Nicole Sobon              1
Name: count, Length: 3454, dtype: int64

In [8]:
for auth in df.Author.unique():
    recs = df[df.Author == auth]
    if len(recs) < 4:
        df.drop(index=recs.index, inplace=True)

In [9]:
df.Author.value_counts()

Author
Cassandra Clare     118
J.K. Rowling         92
Oscar Wilde          91
John Green           82
Mark Twain           65
                   ...
Jim Henson            4
Harvey Fierstein      4
Sun Tzu               4
George Sand           4
Kenneth Branagh       4
Name: count, Length: 355, dtype: int64

In [10]:
test_l = df[df.Author == 'Cassandra Clare']['Quote'].head(5).tolist()

In [11]:
for i,l in enumerate(test_l, 1):
    print(f"{i}) {l}")

1) Have you fallen in love with the wrong person yet?'Jace said, "Unfortunately, Lady of the Haven, my one true love remains myself."..."At least,"she said, "you don't have to worry about rejection, Jace Wayland.""Not necessarily. I turn myself down occasionally, just to keep it interesting.
2) There is no pretending,"Jace said with absolute clarity. "I love you, and I will love you until I die, and if there is life after that, I'll love you then.
3) One must always be careful of books,"said Tessa, "and what is inside them, for words have the power to change us.
4) Jesus!"Luke exclaimed."Actually, it's just me,"said Simon. "Although I've been told the resemblance is startling.
5) Is this the part where you start tearing off strips of your shirt to bind my wounds?""If you wanted me to rip my clothes off, you should have just asked.

In [12]:
df.to_json('finalq.json')